
// Preset Color Styles
@import "colors/presets";

// Global Styles
@import "global";

// Feature Styles
@import "feature";

// Service Area
@import "service";

// Navbar
@import "navbar";

// Hero Slider Area
@import "hero-area";

// Team Area
@import "team";

// Pricing Area
@import "pricing";

// Testimonial Area
@import "testimonial";

// Contact
@import "contact";

// Contact Area
@import "footer";
