*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:monospace;
    color: rgb(56,56,56);
}
.wrapper{
    display:flex;
    align-items:center;
    flex-direction: column;

}
.wrapper h1{
    font-size: 3rem;
    margin-top:20px;   
    margin-bottom:20px;   
}
.wrapper .btn{
    background-color:rgb(247,184,1);
    padding:8px;
    font-size:1.5rem;
    border-radius: 5px;
    text-decoration: none;
    color:#fff
}
.wrapper .btn:hover{
    background-color:#fff;
    color:rgb(247,184,1);
    padding:6px;
    border:2px solid rgb(247,184,1);
}
@media only screen and (max-width:700px){
    body{
        position:absolute;
        margin: 50px 0;
    }

}