    body {
        background-color: antiquewhite;
    }
    
    .nav-item {
        font-size: large;
        margin: 6px;
        padding : 6px;
    }
    .box{
        border: 2px solid rgb(43, 41, 41);
        border-radius: 0.5px;
        padding : 7px;
    }
    
    .head-title {
        color: black;
        animation: slideleft 1s linear forwards;
    }
   .head-title :hover #slide{
       transition: 1s;
       left: 0;
}
    #slide {
     position: absolute;
     left: -100px;
     width: 100px;
     height: 100px;
     background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
     animation: slide 0.5s forwards;
     animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
 p.slide-left:hover #slide{
     transition: 1s;
       left: 0;
}
    #slide {
     position: absolute;
     left: -100px;
     width: 100px;
     height: 100px;
     background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
     animation: slide 0.5s forwards;
     animation-delay: 3s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
     
     
    p {
        color: rgb(43, 41, 41);
    }
    
    p2 {
        color: rgb(43, 41, 41);
    }
    
    p.slide-left {
        animation: slideleft 1s linear forwards;
        animation-delay: 2s;
    }
    #slide {
       position: absolute;
       left: -100px;
       width: 100px;
       height: 100px;
       background: blue;
      -webkit-animation: slide 0.5s forwards;
      -webkit-animation-delay: 2s;
       animation: slide 0.5s forwards;
       animation-delay: 3s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
    
    .header-button:hover {
        background-position: right;
        transition: 1s;
        left: 0;
    }

    
    .header-button {
        padding-top: 20px;
        padding: 15px;
        z-index: 2;
        animation: slideleft 1s linear forwards;
        animation-delay: 3s;
    }
    
    @keyframes slide-left{
        0% {
            transform: translate(100px);
            opacity=0;
        }
        100% {
            transform: translate(0px);
            opacity: 1;
        }
    }
    
    .content {
        color: rgb(43, 41, 41);
        animation: slideleft 1s linear forwards;
        transition: 2s;
    }
    
    .section-title {
        animation: slideleft 1s linear forwards;
        transition: 1s;
    }
    
    h2 {
        font-family: san serif;
        color: rgb(216, 36, 66);
}
   h3 {
        font-family: san serif;
        color:black;
}
   h4{
       color: black;
}
   .media-icons{
       color : black;
}
   .btn btn-common mt-3{
    padding-top: 40px;
    padding-left : 100px;
}
