

.container_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.blog {
  height: 460px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin: 50px;
  position: relative;
  border-radius: 30px;
  filter: drop-shadow(23px 24px 36px rgba(254, 42, 80, 0.25));
}

.blog:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;

}

.read_btn {
  background-color: #f63854;
  padding: 7px 10px;
  border: 1px solid #f63854;
  border-radius: 30px;
  border: 1px dotted white;
  color: white;
}

.read_btn:hover {
  color: #f63854;
  border: 1px dotted #f63854;
  background: white;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}


.image img {
  object-fit: cover;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  height: 349px;
}



.blog_content {
  top: 214px;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 260px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 0px 0px 30px 30px;
  background-color: white;
  color: #f63854;
}

.blog_content:hover {
  background-color: white;
}

.head {
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Arvo", serif;
}

.description {
  margin-top: 5px;
  color: gray;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
}
