/* Variables and Font-Faces */
@font-face {
  font-family: "Druk Wide Bold";
  src: url("../media/font/Druk\ Wide\ Bold.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../media/font/WorkSans-Regular.ttf"),
    url("../media/font/WorkSans-SemiBold.ttf");
}

:root {
  --black: #2f2f2f;
  --white: #f4f4f4;
  --blue: #6100ff;
  --yellow: rgb(255,230,117);
}

/* preloader starts */

#loader{
  width: 100%;
  background-color: whitesmoke;
  height: 100vh;
  z-index: 2000;
  position: fixed;

}

#particles-js{

  background: #8115AF;

}

.cssload-loader-inner {
  bottom: 0;
  height: 58px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 97px;
}

.cssload-cssload-loader-line-wrap-wrap {
  animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 34px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  width: 67px;
}
.cssload-loader-line-wrap {
  border: 3px solid transparent;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 67px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 67px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
  -o-animation-delay: -57.5ms;
  -ms-animation-delay: -57.5ms;
  -webkit-animation-delay: -57.5ms;
  -moz-animation-delay: -57.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
  -o-animation-delay: -115ms;
  -ms-animation-delay: -115ms;
  -webkit-animation-delay: -115ms;
  -moz-animation-delay: -115ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
  -o-animation-delay: -172.5ms;
  -ms-animation-delay: -172.5ms;
  -webkit-animation-delay: -172.5ms;
  -moz-animation-delay: -172.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
  -o-animation-delay: -230ms;
  -ms-animation-delay: -230ms;
  -webkit-animation-delay: -230ms;
  -moz-animation-delay: -230ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
  -o-animation-delay: -287.5ms;
  -ms-animation-delay: -287.5ms;
  -webkit-animation-delay: -287.5ms;
  -moz-animation-delay: -287.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
  border-color: rgb(234,71,71);
  height: 61px;
  width: 61px;
  top: 5px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
  border-color: rgb(234,234,71);
  height: 51px;
  width: 51px;
  top: 9px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
  border-color: rgb(71,234,71);
  height: 42px;
  width: 42px;
  top: 14px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
  border-color: rgb(71,234,234);
  height: 32px;
  width: 32px;
  top: 19px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
  border-color: rgb(71,71,234);
  height: 23px;
  width: 23px;
  top: 24px;
}




@keyframes cssload-spin {
  0%, 15% {
  transform: rotate(0);
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-o-keyframes cssload-spin {
  0%, 15% {
  -o-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-ms-keyframes cssload-spin {
  0%, 15% {
  -ms-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-webkit-keyframes cssload-spin {
  0%, 15% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-moz-keyframes cssload-spin {
  0%, 15% {
  -moz-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}
}


/* preloader ends */


/* navbar starts */
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5em 7em 3.5em 7em ;
  height: 6.5rem;
  background-color: rgba(2, 2, 2, 0);
  box-shadow: 0 1px 4px rgba(146,161,176,.3);
}
section{
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading{
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
  font-weight: 800;
  text-align: center;
}
.headingcontact{
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-align: center;
}
.heading span{
  color: rgb(115, 3, 167);
}
header .logo{
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
header .navbar li{
  margin-left: 5rem;
}
header .navbar ul li a{
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: .2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover{
  color: #ffffff;
  border-bottom: .2rem solid #e551f8;
  padding: .5rem 0;
}
.trans {
  animation: fadeIn 1s;
  background: rgba(0, 0, 0, 0.6);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* navbar ends */

/* hamburger icon starts*/
#menu{
  font-size: 2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: none;
}
@media(max-width:768px){
  #menu{
      display: block;
  }
  header .navbar{
    position: fixed;
    top: 4.9rem; right: -120%;
    width:90%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #c59dc9;
  }
  header .navbar ul{
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li{
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    width: 19rem;
  }
  header .navbar ul li a{
    display: block;
    padding: 1rem;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover{
    padding: 1rem;
    color: #fff;
    border-radius: .5rem;
    border-bottom: .5rem solid var(--yellow);
  }
  .fa-times{
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle{
    right: 0;
  }
}

/* Main CSS Starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body{
	overflow-x: hidden;
}






/* Navigation Starts */
header{
  
  
}
.logoicon{
  display: flex;
  color: white;
  
}

.logoicon h1{
  margin-left: .5em;
  font-family: "Druk Wide Bold";
  font-size: 35px;
  font-size: 2.2rem;
}
.logo img{ 
  left: 100px;
  
  height: 90px;
  width: 90px;
 
}


/* .logo-text {
  position: absolute;
  width: 270px;
  height: 63px;
  left: 207px;
  top: 55px;

  font-family: Druk Wide Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 32px;
  /* or 100% */
  color: var(--white);
} */
.list-group {
  background: transparent;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.list-group-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  color: #2f2f2f;
}
.list-group-items a {
  margin-top: 12px;
  margin-right: 20px;
  text-decoration: none;
  color: #faf8f8;
  padding-right: 0.9rem;
  transition: 150ms ease-in-out;
}
.list-group-items a:hover {
  color: var(--yellow);
  cursor: pointer;
}
.list-group-items a i{
  margin-right: 5px;
}

.list-group-items .active-item {
  color: var(--yellow);
  margin-top: 12px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding-right: 1.2rem;
  /* identical to box height, or 156% */
}
.cta-nav {
  width: 110px;
  height: 48px;
  margin-right: 20px;
  margin-top: -3px;
  background: var(--yellow);
  border-radius: 5px;
  border: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  /* identical to box height, or 187% */
  transform: translateY(5px);
  transition: 250ms ease-in;
  color: #2f2f2f;
}
.cta-nav:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.cta-nav i{
  margin-right: 5px;
}

.navbar .contact-button{
    background-color: #ffe675;
    padding: .5em 1.2em;
    border-radius: 7px;
    color: #2f2f2f;
    border-width: 0;
    font-weight: 600;
    font-size: 1.2rem;
    border-style: none;
}

.navbar .contact-button:hover{
  text-decoration: none;
  color: #2f2f2f;
  padding: .5em 1.2em;

}


/* Hero Section Starts*/
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  max-width: 100vw;
  background: var(--white) url("../media/Images/Background1.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
}
.hero-left img {
  position: relative;
  z-index: 100;
  top: 4.9rem;
  /* background: url("../media/Images/hero.png") no-repeat; */
  /* background-size: 100%; */

  height: 50rem;
  width: 50rem;
}
 .hero-right {
  position: absolute;
  width: 600px;
  height: 96px;
  right: 1.2rem;
  top: 15rem;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  margin-right: 10%;
  /* or 116% */

  color: #f5f0f0;
}
.hero-right span {
  color: var(--yellow);
}
@media (min-width:280px) {
  .hero-left{
    height: 550px;
    width: 350px;
  }
  .hero-right {
    position: absolute;
    width: 320px;
    height: 96px;
    right: 1.2rem;
    top: 25rem;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 38px;
    /* or 116% */

    color: #f5f0f0;
  }
}
@media (min-width:768px) {
  .hero-left{
    height: 550px;
    width: 350px;
  }
  .hero-right {
    position: absolute;
    width: 320px;
    height: 96px;
    right: 1.2rem;
    top: 7rem;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 38px;
    /* or 116% */

    color: #f5f0f0;
  }

}
@media (min-width:1000px) {
  .hero-left{
    height: 550px;
    width: 550px;
  }
  .hero-right {
    position: absolute;
    width: 600px;
    height: 96px;
    right: 1.2rem;
    top: 17rem;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* or 116% */

    color: #f5f0f0;
  }
}
@media (min-width:540px) {


}
@media (max-width:280px) {
  .hero-left{
    height: 550px;
    width: 230px;
  }
 .hero-right{
  width: 220px;
  height: 96px;
  right: 1.2rem;
  top: 17rem;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 38px;
 }

}


.hero-button {
  position: absolute;
  width: 167px;
  height: 57px;
  left: 240px;
  top: 250px;
  background: #ffe675;
  border-radius: 6px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-decoration: none;
  /* identical to box height, or 159% */
  border: none;
  color: var(--black);
  transition: 250ms ease-in;
}
.hero-button:hover{
  cursor: pointer;
  transform: translateY(-5px);

}
.hero-button a{
  color:var(--black) ;
  text-decoration: none;

}
.hero-button a:hover{
  color:var(--black) ;
  text-decoration: none;

}


/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffe675;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Scroll Bar  */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* footer */
a :hover{
  color:rgb(255,230,117);
  transition: 450ms;
  transform: scale(1.5);
}
.footer-dark{
  background:  url("../media/Images/Background.jpg") ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-dark {

  padding:50px 0;
  /* color:black; */
  background-color:#7777776e;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;

}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.9;

}

.footer-dark ul a:hover {
  opacity:0.8;
  color: #e551f8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  background: #fc8c05;
  /* size: 40px; */

  border-radius:50%;
  /* box-shadow:0 0 0 1px rgba(3, 3, 3, 0.4); */
  margin:0 8px;
  /* color:rgb(8, 8, 8); */
  color:white;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
  /* color:rgb(0, 0, 0); */
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
 color: #272727c2;
  /* opacity:0.3; */
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  font-size:23px;
  margin-bottom:0;
}
