/* Variables and Font-Faces */
@font-face {
  font-family: "Druk Wide Bold";
  src: url("../media/font/Druk\ Wide\ Bold.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../media/font/WorkSans-Regular.ttf"),
    url("../media/font/WorkSans-SemiBold.ttf");
}

:root {
  --black: #2f2f2f;
  --white: #f4f4f4;
  --blue: #6100ff;
  --yellow: rgb(255,230,117);
}

/* preloader starts */

#loader{
  width: 100%;
  background-color: whitesmoke;
  height: 100vh;
  z-index: 2000;
  position: fixed;

}

#particles-js{

  background: #8115AF;

}

.cssload-loader-inner {
  bottom: 0;
  height: 58px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 97px;
}

.cssload-cssload-loader-line-wrap-wrap {
  animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 34px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  width: 67px;
}
.cssload-loader-line-wrap {
  border: 3px solid transparent;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 67px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 67px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
  -o-animation-delay: -57.5ms;
  -ms-animation-delay: -57.5ms;
  -webkit-animation-delay: -57.5ms;
  -moz-animation-delay: -57.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
  -o-animation-delay: -115ms;
  -ms-animation-delay: -115ms;
  -webkit-animation-delay: -115ms;
  -moz-animation-delay: -115ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
  -o-animation-delay: -172.5ms;
  -ms-animation-delay: -172.5ms;
  -webkit-animation-delay: -172.5ms;
  -moz-animation-delay: -172.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
  -o-animation-delay: -230ms;
  -ms-animation-delay: -230ms;
  -webkit-animation-delay: -230ms;
  -moz-animation-delay: -230ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
  -o-animation-delay: -287.5ms;
  -ms-animation-delay: -287.5ms;
  -webkit-animation-delay: -287.5ms;
  -moz-animation-delay: -287.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
  border-color: rgb(234,71,71);
  height: 61px;
  width: 61px;
  top: 5px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
  border-color: rgb(234,234,71);
  height: 51px;
  width: 51px;
  top: 9px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
  border-color: rgb(71,234,71);
  height: 42px;
  width: 42px;
  top: 14px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
  border-color: rgb(71,234,234);
  height: 32px;
  width: 32px;
  top: 19px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
  border-color: rgb(71,71,234);
  height: 23px;
  width: 23px;
  top: 24px;
}




@keyframes cssload-spin {
  0%, 15% {
  transform: rotate(0);
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-o-keyframes cssload-spin {
  0%, 15% {
  -o-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-ms-keyframes cssload-spin {
  0%, 15% {
  -ms-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-webkit-keyframes cssload-spin {
  0%, 15% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-moz-keyframes cssload-spin {
  0%, 15% {
  -moz-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
/* preloader ends */

/* MAIN CSS STARTS */
#navLogo{
  width: 5em;
}
body{
  background-image: url("../media/Images/Background1.jpg");
  overflow-x: hidden;
}
#logoHeading{
  display: inline-block;
}
.discordBtn a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.zoom {
  transition: transform .2s; 
}
.zoom:hover {
  transform: scale(1.3); 
}
.desc p{
  font-size: 1.2em;
}
/* MAIN CSS ENDS */

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffe675;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Scroll Bar  */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* footer */
.footer-dark a :hover{
  color:rgb(255,230,117);
  transition: 450ms;
  transform: scale(1.5);
}
.footer-dark{
  background:  url("../media/Images/Background.jpg") ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-dark {

  padding:50px 0;
  /* color:black; */
  background-color:#7777776e;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;

}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.9;

}

.footer-dark ul a:hover {
  opacity:0.8;
  color: #e551f8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  background: #ffcd05 !important;
  /* size: 40px; */

  border-radius:50%;
  /* box-shadow:0 0 0 1px rgba(3, 3, 3, 0.4); */
  margin:0 8px;
  /* color:rgb(8, 8, 8); */
  color:white;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:1;
  /* color:rgb(0, 0, 0); */
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
 color: #272727c2;
  /* opacity:0.3; */
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  font-size:23px;
  margin-bottom:0;
}