.form-control {
  background-color: #fcf8e6db;
  color: black;
  border-color: rgb(134, 134, 134);
}
.form-control:focus {
  border-color: #f7b801;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: 0 0 10px #f7b801 !important;
}
.contactSection {
  background-image: url("/assets/img/one-yellow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#inputName,
#inputEmail,
#subj,
#msg,
#checkBtn {
  margin-left: 45px;
}
.Cbtn {
  appearance: none;
  background: linear-gradient(135deg, #fcd423, #f7b801); /* Added gradient background */
  border: 1px solid #ffffff;
  border-radius: 20px; /* Increased border-radius */
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  font-size: 16px; /* Added font size */
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  outline: none;
  padding: 12px 16px; /* Adjusted padding */
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in-out; /* Updated transition */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 35%;
  will-change: transform;
}

.Cbtn:disabled {
  pointer-events: none;
  opacity: 0.6; /* Added opacity for disabled state */
}

.Cbtn:hover {
  color: #ffffff; /* Change text color on hover */
  background: linear-gradient(135deg, #f7b801, #fcd423); /* Updated gradient for hover state */
  box-shadow: rgba(0, 0, 0, 0.35) 0 10px 20px; /* Adjusted shadow for hover state */
  transform: translateY(-5px) scale(1.05); /* Added transform and scale effect for hover state */
  border-color: #ffd100;
}

.Cbutton-28:active {
  box-shadow: none;
  transform: translateY(0);
}

@media (max-width: 751px) {
  .bg-cont {
    margin-top: 0 !important;
    margin-right: 0 !important;
  }

  #inputName,
  #inputEmail,
  #subj,
  #msg {
    width: 90vw !important;
    margin: 0 5vw !important;
    justify-content: center;
  }

  .Cbtn {
    appearance: none;
    background-color: purple !important;
  }

  #contactSection {
    background-image: url("./images/one.png");
    height: 100vh !important;
    width: 100vw !important;
  }
  #checkBtn {
    width: 40vw !important;
    justify-content: center !important;
  }

  .bg-cont {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .Cbtn {
    appearance: none;
    background-color: rgba(255, 200, 60, 255) !important;
  }
  .Cbtn:hover {
    background-color: #f7b801 !important;
  }
  #inputName,
  #inputEmail,
  #subj,
  #msg {
    width: 90vw !important;
    margin: 0 5vw !important;
    justify-content: center;
  }
  #checkBtn {
    width: 40vw;
    justify-content: center !important;
    margin: 0 30vw !important;
    align-items: center;
  }
}
@media (max-width: 912px) {
  .bg-cont {
    width: 50vw !important;
  }
  .Cbtn {
    appearance: none;
    background-color: transparent;
  }
}

@media (max-width: 1024px) {
  .bg-cont {
    width: 40vw !important;
  }
}
