.card {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 10px rgb(133 69 69) !important;
    margin: 0.90rem;
    min-height: max-content;
    border-radius: 3rem;
    /* flex: 1; */
    width: 28.8rem;

}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 10px rgb(133 69 69) !important;
}

.card-body {
    border: 5px;
    border-radius: 5rem;
}

.card-title {
    color: black;
    font-weight: bold;
    font-size: medium;
    padding-bottom: 6%;
    padding-top: 6%;
    font-family: "Arvo", serif;
}

li {
    padding-bottom: 5px;
    color: #2e2e2e;
}

.card-img-top {
    border-radius: 3rem;
}

.oppurtunity_section {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgb(216, 92, 92); */
}


/* @media only screen and (max-width: 800px) {
    .card {
        width: 350px;
        height: 349px;
    }

    .oppurtunity_section {
        align-items: center;
        flex-direction: column;
    }
} */

@media screen and (max-width: 1200px) {
    .card {
      margin-left: 1.28rem;
      border: 2px solid;
    }
  }
  @media screen and (max-width: 1024px) {
    .card {
      margin-left: 1rem;
      border: 2px solid;
    }
  }
  @media screen and (max-width: 517px) {
    /* html{
      font-size: 70%;
    } */
    .card {
      align-items: center;

    }
  
    .card-img-top {
      height: 100%;
      border-radius: 15px;
    }
    .oppurtunity_section {
        align-items: center;
        flex-direction: column;
    }
  }
  

  @media screen and (max-width:320px) {
    .card {
        margin: 0.8rem auto;
        /* margin-left:0rem; */
        width:27rem;
      }
      .oppurtunity_section{
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        display: flex;
        align-items: center;

        
        /* flex-direction: column;
        flex-wrap: wrap;
        justify-content: center; */
    
    }
  }